*{
  padding: 0px;
  margin: 0px;
  font-family: Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}
/*Cria a classe cabeçalho com definições de cor e espaço*/
.cabeçalho{
    background-image: url(background/375989.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px; /* Valor original era 15px ( mudado 06/07/2021 = ALTERAÇÕES MENU CSS*/
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.822);
}
/*Formata a imagem dentro da classe cabeçalho*/
.cabeçalho img{
    width: 150px;
    box-shadow: 2px 2px 2px rgba(44, 37, 37, 0.562);
}
/*Cria os cartões para cada artigo publicado*/
article{
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  width: 90%;
  height: 250px;
  box-shadow: 3px 3px 3px #BD6502;
  transition: all 0.3s ease-out;
}
article:hover{
  transform: translateY(-3px);
}
article p {
  text-align: center;
  background-color: whitesmoke;
  max-width: 55%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: smaller;
  background-size: 2px;
}
article a{
  text-align: center;
  text-decoration: none;
  background-color: whitesmoke;
  color: #BD6502;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: x-large;
  background-size: 2px;
}
article a:hover{
  color: goldenrod;
}
.conteúdo{
  min-height: 500px; 
  background-color: rgb(221, 221, 221); 
  border-radius: 10px; 
  padding: 10px; 
  line-height: 1.5; 
  text-indent: 50px;
  font-size: 18px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.822);
  padding-left: 16px; padding-right: 16px;
}
/*Cria a classe rodapé com definições de cor e tamanho*/
.rodapé{
    background-color: #1a1a1a;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FAA94D;
    padding: 15px;
}
.rodapé a{
  text-decoration: none;
  color: #FAA94D;
}
.rodapé a:hover{
  color: orangered;
}
/*Cria a classe coluna que vai conter colunas menores*/
.column {
    float: right;
    padding: 10px;
  }
  
  /* Define o tamanho da coluna do lado */
  .column.side {
    width: 25%;
  }
  /* Define o tamanho da coluna do meio */
  .column.middle {
    width: 70%;
  }
  /* Define o tamanho da coluna da esquerda */
  .column.left {
    width: 35%;
  }
  /* Define o tamanho da coluna da direita */
  .column.right{
    width: 35%;
  }

.column p{
    text-align: justify;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
nav{
    display: flex; /* Serve pra deixar do lado o troço do site*/
    justify-content: space-around; /*centraliza os conteudo, o espaço ao redor é metade do espaõ entre eles*/
    align-items: center;
    vertical-align: middle;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif; /*fontes de letra que peguei do video, pode ser qualquer uma*/
    background-color: #ff751a; /* valor original #FAA94D (Mudado ALTERAÇÃO MENU CSS 06/07/2021)*/
    height: 8vh; /* Media com base na porcentagem da tela, ou seja, vai ocupar 8% da tela, em qualquer tela*/
    }
    nav a{
      text-decoration: none;
      color: black;
    }
    nav a:hover{
      color: gold;
    }
    .nav-list{
        list-style: none; /* list-style serve para configurar os pontinhos/marcadores da lista*/
        display: flex; /* deixar cada tópico um do lado do outro*/
        opacity: 1;
        }
      
      .nav-list li{
        letter-spacing: 0.5px;
        margin-left: 30px; /* dar um espaço legalzinho entre cada item da lista*/
      }
      
      .mobile-menu{    /* basicamente menusinho pra telas menores/mobile*/
        display: none;
        cursor: pointer;
        }
      
      .mobile-menu div { /* as linhas do menu hamburguer, sendo uma "variação" da classe mobile-menu*/
        width: 32px;
        height: 2px;
        background: black;
        margin: 8px;
        transition: 0.3s
        }
/*Diz o que acontece quando a tela for menor do que 999px*/
@media screen and (max-width: 999px) {
    .column.side, .column.left, .column.right, .column.middle {
      width: 90%;
    }
    .nav-list{
        position:absolute;
        top: 35vh;
        right: 0;
        width: 50vw; /* 50% de largura da tela*/
        height: 92vh;
        background-color: #ff751a; /* valor original #FAA94D (Mudado ALTERAÇÃO MENU CSS 06/07/2021)*/
        flex-direction: column; /*vai deixar os elementos que estavam um do lado do outro como uma coluna*/
        align-items: center;
        vertical-align:middle;
        justify-content: space-around; /* deixa eles distante um do outro proporcionalmente*/
        transform: translateX(100%); /* O transform deixa eu mover algo que quero,
                                      o translateX() muda o eixo só do x, se deixa ele em 100% o troço "some" da tela*/
        transition: transform 0.35s ease-in;
    }
    .nav-list li{
        margin-left: 0; /*tira a margin que eu tinha botado antes, assim centralizando corretamente os itens*/
        opacity:0;  /*pra animação*/
      }
      .mobile-menu{
        display: block; /*quebra uma linha e faz com que meu elemento seja tratado como um bloco, tipo <p> */
      }

      article{
        width: 75%;
        box-shadow: 2px 2px 2px rgb(121, 88, 5);
      }
}
.nav-list.active{
    transform: translateX(0);
  }
  @keyframes navLinkFade { /* animação para aparecer do além as letrinhas*/
    from {
      opacity: 0;
      transform: translateX(50px);
     }
     to {
      opacity: 1;
      transform: translateX(0);
     }
}
.mobile-menu.active .line1{
  transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2{
  opacity:0;
}
.mobile-menu.active .line3{
  transform: rotate(45deg) translate(-5px, -7px);
}
/*Configura um texto que, não importa a classe, sempre vai ficar embaixo de tudo*/
footer{
    color: darkgray;
    font-size: small;
    opacity: 35%;
}
